
/*---------------- POSITIONING AND BEHAVIOUR OF NAVIGATION -----------*/
#pageTopNavi{
	position:absolute;
	left:0px;
	top:46px; /*--------- Top Space Of Navigation -----------*/
	z-index:12000000;
  width:980px;
	overflow:visible;
}

#pageTopNavi ul.nav,
#pageTopNavi ul.nav li,
#pageTopNavi ul.nav li a{
	list-style:none;
	padding:0;
	margin:0;	
}

#pageTopNavi ul.nav.depth_1{
	padding-left:190px; /*--------- left space of top navi -----------*/
}
li.depth_1 {
	vertical-align: top;
}
#pageTopNavi ul.nav.depth_2{
	position:absolute;
	top:154px; /*--------- top space left navi -----------*/
  height: 0; /* hide inactive level 2 nav, producing a scrollbar otherwise. */
} 
#pageTopNavi ul.nav li.depth_1{
	display:inline-block; /*--------- make first level display horizontal-----------*/
	margin-right:6px;
}
#pageTopNavi ul.nav li a.depth_1{
	float:left;	 /*--------------- for some reason IE wont show BackGFX if not set -------*/
}
#pageTopNavi ul.nav li.depth_2 a{/*-------------------- 2nd and following levels LINK STYLE */
	background-position:4px 6px;
	background-repeat:no-repeat;
}

#pageTopNavi ul.nav li.depth_1 ul.nav.depth_2{
	width:185px; /*--------- width of left navi -----------*/
	overflow:hidden;
}

#pageTopNavi ul.nav li.tree ul.nav li.tree ul.nav{
	position:relative;/*--------- setting back top space left navi -----------*/
	top:0;
} 
/*--------------------- HIDING SUBS --------------------*/


#pageTopNavi ul.nav li.tree ul.nav{
	position:absolute; /*------ hide all 2level submenus---------*/
	left:-1000px;
}
#pageTopNavi ul.nav ul.nav ul.nav{
	position:relative;                        
	height:0; 			/*------ hide all 3level and following submenus by collapsing their ul and crop overflow---------*/
	overflow:hidden;
}

/*---------------- 1st LEVEL-STYLES (ICONS...) -----------*/

#pageTopNavi ul.nav li a.depth_1{
	padding-top:47px; /*----------------- SPACE FOR ICONS FIRST LEVEL-----------------*/
	padding-right:10px;
	padding-left:10px;
	background-repeat:no-repeat;
	background-position:top;
}
/*---------------- 2ND AND FOLLOWING LEVEL-STYLES -----------*/

#pageTopNavi ul.nav li.depth_2 a{ /*------ SIZE OF LINK & STOP FLOATING FROM FIRST LEVEL ---------*/
	display:block;
	padding:4px;
	padding-left:14px;
}

/*------------------- BORDERS AND COLORS ----------------*/

#pageTopNavi ul.nav li.depth_2{/*------ 2nd Level -------*/
	border-top:1px solid #d2d2d2;
	background-color:#e2e2e2;
}

#pageTopNavi ul.nav li.depth_3,/*------ further Levels -------*/
#pageTopNavi ul.nav li.depth_5,
#pageTopNavi ul.nav li.depth_4{
	border-top:1px solid #e2e2e2;
	background-color:#f2f2f2;
}

#pageTopNavi ul.nav li a span.hotkey{
	text-decoration:underline;
	color:inherit;
}

/* This style was commented out because there is no folder "buttons" containing the file gotSubs.gif in _default */
/*#pageTopNavi ul.nav li.depth_2 a.branchLink{
	background-image:url(../../gfx/_default/buttons/gotSubs.gif); 
}*/
/*---------- INSETS OF TREEVIEW ----------*/

#pageTopNavi ul.nav li a.depth_3{
	margin-left:10px;
}
#pageTopNavi ul.nav li a.depth_4{
	margin-left:20px;
}
#pageTopNavi ul.nav li a.depth_5{
	margin-left:30px;
}


/*------------------- FLYOUTS -----------------------

#pageTopNavi li.tree li.tree:hover ul.nav{
	position:absolute;
	margin-left:180px;
	margin-top:-25px;
	margin-bottom:25px;
	overflow:visible;
	display:block;
}
#pageTopNavi li.tree li.tree:hover ul.nav li,
#pageTopNavi li.tree li.tree:hover ul.nav li a{
	display:block;
	width:185px;
}

#pageTopNavi li.tree li.tree:hover ul.nav li.tree ul.nav{
	overflow:hidden;
}
#pageTopNavi li.tree li.tree:hover ul.nav li.tree:hover ul.nav{
	overflow:visible;
	top:-13px;
}
#pageTopNavi li.tree li.tree:hover ul.nav li.tree:hover ul.nav li.tree ul.nav{
	overflow:hidden;
}
#pageTopNavi li.tree li.tree:hover ul.nav li.tree:hover ul.nav li.tree:hover ul.nav{
	overflow:visible;
	top:-12px;
}

*/


