body  {
	color:#000;
	background-color:#f1f1f1;
}
#pageFootControl_imp{
	background-image:url(../../gfx/tuda/icons/impressum.png);
}
#pageFootControl_con{
	background-image:url(../../gfx/tuda/icons/kontakt.png);	
}
#pageFootControl_pri{
	background-image:url(../../gfx/tuda/icons/drucken1.png);	
}	
#pageContainer{
	background-color:#ffffff;
	padding-left:20px;
	padding-right:20px;
}
a {
	color:#000000;
	text-decoration:underline;
}
a:hover, a trans:hover{
	color:#b1bd00;
}
h1, h2, h3{
	color:#b1bd00;
}

/* tables */

* table, .tb_contentright, .tb, div.tb, table.tb{
	border:0px solid #008877;
}
table, table.tb{
	border-top:0px;
}
table.tb caption{
	border-top:0px solid #d2d2d2;
}
.nb{
	border:0;
}
th, td, .tbdata, .tb th, .tb td{
	border-top:1px solid #e5e5e5;
	overflow:hidden;
	height:auto;
}
caption, .tbhead, .tbhead td { 
	color:#b1bd00;
	background-color:#ffffff;	
}
td.tbcontrol, div.tbcontrol, .tbcontrol{
	border:0;
	border-top:1px solid #e5e5e5;
}
th, .tbLeftCol, .tbsubhead, .tbsubhead td{
	text-align:left;
	color:#363636;
	font-weight:bold;
	background-color:#e8e8e8;
	border-top:1px solid #f1f1f1;
	padding:4px;
	overflow:hidden;
}
.subhead{
	background-color:#ffffff;
	color:#b1bd00;
	border-top:1px solid #e5e5e5;
}
.tbLeftCol{
	background-color:#ffffff;
}
/* inputfields */

fieldset legend{
	background-color:#cce1f0;
	border:0px solid #008877;
	display:none;
}
fieldset, fieldset .pageElementTop {
	border:0px solid #008877;

}
fieldset legend.tbsubhead{ 
	border:1px solid #008877;
}
.formRow{
	border-top:1px solid #e5e5e5;	
}
.formRowControl{
	border-top:0px solid #008877;
	/*background-color:#80b4d8;*/
}
input,
.inputFieldLabel input, .inputFieldLabel select, .inputFieldLabel select option{
	border:1px solid #b1bd00;
	padding-left:2px;
}
.inputFieldLabel input.img{
	background-color:transparent;
	border:0;
}
.inputFieldLabel select option{
  border:0;
}

/* g_links */

.img, a.img, input.img .arrow, a.arrow, input.arrow{
	color:#000000;
}
a.arrow:hover, input.arrow:hover, input.img:hover, a.img:hover{
	color:#000000;
}
a.arrow:hover {
	color:#b1bd00;
}

/* t_links */

input.img:Active{   /* stop inputButtons from twitching (MOZILLA) */

}

input.img:hover{   /* stop inputButtons from twitching (MOZILLA) */
	
}
.inputFieldLabel .img.img_arrowReload{
	padding:4px;
	height:20px;
	padding-left:24px;
}
		
/*-----------------------CALENDAR MONTH--------------------*/
.tbMonthDay{
	border:1px solid #e5e5e5;
}
div.tbMonthDay div.tbsubhead{
	border-bottom:1px solid #808080;
}

/*-----------------------CALENDAR WEEK--------------------*/

.appointment{
	border:1px solid #F3F5D9;
	background-image: none;
}


/*---------------------- COURSENUMBERS --------------------*/

ul.courseList li.courseListCell, ul.courseList li.courseListCellHover {
	border:1px solid #e5e5e5;	
	color:#000000;	
}
ul.courseList li.courseListCellHover {
	background-color:#ffffff;
}
ul.courseList li.courseListCellHover.numout2 {
	background-color:#ffffff;
}
ul.courseList li.courseListCellHover.numout2 a{
	color:#4d97c9;
}
ul.courseList li.courseListCellHover a{
	color:#e5e5e5;	
}
ul.courseList li.courseListCellHover:hover{
	background-color:#a2a2a2;
}

ul.courseList li.courseListCellHover.numout3{
	background-color:#e5e5e5;
	color:#ffffff;
}

.detailout{
	border:1px solid #e5e5e5;
	padding:0;
}
.detailout a:hover{
	background-color:#f0f0f0;
}
.detailout a{
	display:block;
	margin:0;
	padding:6px;
}

li.courseListCell.noLink{
	width:auto !important;
	border:0 !important;
	overflow:visible !important;
}


/*-------------------- SPLASH ---------------------*/



/*--------------------- LEVELS --------------------*/


.level00, .level00 b {
	background-color:#99a604;
	color:#000000;
	font-weight:bold;
}
.level01{
	background-color:#b1bd00;
}
.level02{
	background-color:#d2d2d1;
}
.level03{
	background-color:#efefee;
}
.level04{
	background-color:#d0d65e;
}
.level00, .level01, .level02, .level03, .level04{
		color:#000000!important;
}
.tbtime11, .tbtime01{
	background-color:#ffffff;	
}
.tbtime12, .tbtime02{
	background-color:#F3F5D9;
}
td.tbtime11, td.tbtime12{
	border-left:1px solid #e5e5e5;
}	
.miniCalendarDay{
	padding:3px;
	border:1px solid #e5e5e5;
}
.miniCalendarDay.app{
	padding:2px;
	border:2px solid #dead2c;
}
#pageFootControls a:hover, .tbcontrol a:hover, .tbcontrol input:hover, .tb input:hover, .tbdata a:hover, .arrow_skipBtn a:hover, a i:hover, a b:hover, p a:hover, a span:hover, button:hover  {
	color:#b1bd00;
}
#pageHeadSwitchLang a:hover {
	color:#000;
	text-decoration:underline;
}


/*---------------- STUDY CONTENT PLAN -------------------*/

#sip .tD2 .aCA:hover {
	color:#b1bd00;
}
#sip .tD2 a:hover, #sip  #tblFtr a:hover {
	color:#b1bd00;
}
#sip  #tblFtr a:hover{
	color:#39a2e9;
}
#sip .tD2 a {
	color:#000;
}
#sip .tD2 a:hover {
	color:#b1bd00;
}
#sip .statusBlack {
	color:#000;
}
#sip .tbsubhead {
	background-color:#F4F5D0;
}
#sip .tbsubhead a {
	color:#000;
}
#sip .tbsubhead a:hover {
	color:#b1bd00;
}
#sip h3 {
	color:#b1bd00;
}
#sip .tbhead {
	background-color:#99A604;
}
#sip .tbhead #stdTtl {
	color:#fff;
}
#sip .nts a:hover{
	color:#b1bd00
}
#sip input.img:hover {
	color:#b1bd00;
}









